{escrpit_incl_extra, [{"priv/templates/*", "."}]}.

%% Erlang compiler options
{erl_opts,
    [
        debug_info,
        {i, "./include"},
        {src_dirs,
            [
                "src"
            ]
        }
    ]
}.

{deps, [

    {ranch, "1.6.1"}

]}.

{prehooks, [

]}.

{conver_enabled, true}.

{sub_dirs,[
    "src"
]}.